////
/// Gradient backgrounds
////

.c-background-purple-blue {
	background: $theme-purple;
 	background: linear-gradient(45deg, $theme-purple, $theme-dark-blue);
}

.c-background-light-dark-blue {
	background: $theme-light-blue;
	background: linear-gradient(45deg, $theme-dark-blue, $theme-light-blue);
	background-size: 120%;
}

.c-background-orange-red {
	background: $theme-pink;
	background: $theme-pink radial-gradient(circle at center, $theme-orange 0, $theme-red 30%, $theme-pink 70%);
	background-size: 300vw 300vh;
	background-position: -100vw -120vh;
}

////
/// Gradient text
////

@mixin gradient-text($gradient, $bg : 'light') {
  @supports(mix-blend-mode: lighten) {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;

      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}

.c-gradient-text--light-dark-blue {
  @include gradient-text('linear-gradient(45deg, #{$theme-dark-blue}, #{$theme-light-blue});', 'light');
}
