////
/// Utilities
////

.u-text-center {
	text-align: center;
}

.u-vertical-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.u-full-width {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.u-middle-tighten {
	margin: 0 20%;
}

[data-modal-open] {
	cursor: pointer;
}

////
/// Color Utilities
////

.u-color--blue {
	color: $theme-light-blue;
}

.u-color--red {
	color: $theme-red;
}

.u-color--pink {
	color: $theme-pink;
}
