////
/// Utilities
////

.u-text-center {
	text-align: center;
}

.u-vertical-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.u-full-width {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.u-middle-tighten {
	margin: 0 10%;
}

[data-modal-open] {
	cursor: pointer;
}

////
/// Color Utilities
////

.u-color--blue {
	color: $theme-light-blue;
}

.u-color--red {
	color: $theme-red;
}

.u-color--pink {
	color: $theme-pink;
}

////
/// Positioning
////

.u-align--top {
	padding-top: 0;
	margin-top: 0;
}

.u-align--bottom {
	padding-bottom: 0;
	margin-bottom: 0;
}

.u-align--right {
	padding-right: 0;
	margin-right: 0;
	text-align: right;
}

.u-align--left {
	padding-left: 0;
	margin-left: 0;
	text-align: left;
}

////
/// Spacing
////

.u-pad--bottom {
	padding-bottom: 3em;
}

.u-pad--top {
	padding-top: 3em;
}
