////
/// David Witt Theme
////

$border-radius: 0;

////
/// Theme colors
////

$theme-purple: #a177ff;
$theme-light-blue: #02ceff;
$theme-dark-blue: #a177ff;
$theme-pink: #ff6d92;
$theme-orange: #f5b200;
$theme-red: #fc636b;


///Blaze
@import "../mixins/settings.global";
@import "../generic.global";
@import "../objects.containers";
@import "../objects.grid";
@import "../objects.grid.responsive";
@import "../objects.images";
@import "../objects.panels";
@import "../components.typography";
// @import "../components.badges";
@import "../components.headings";
// @import "../components.addresses";
// @import "../components.tables";
// @import "../components.cards";
@import "../components.links";
@import "../components.buttons";
@import "../components.lists";
// @import "../components.trees";
// @import "../components.menus";
// @import "../components.tabs";
// @import "../components.inputs";
// @import "../components.hints";
// @import "../components.toggles";
// @import "../components.tags";
// @import "../components.ranges";
// @import "../components.pagination";
@import "../components.overlays";
@import "../components.modals";
// @import "../components.drawers";
// @import "../components.bubbles";
// @import "../components.tooltips";
// @import "../components.alerts";
// @import "../components.toasts";
// @import "../components.calendars";
// @import "../components.navs";
@import "../utilities.alignment";
@import "../utilities.boxing";

///Plugins
@import "../lib/iziModal";

///Theme
@import "../poi";
@import "gradients";
@import "header";
@import "footer";
@import "card";
@import "work";
@import "utilities";
