////
/// David Witt Theme
////

$border-radius: 0;

////
/// Theme colors
////

$theme-purple: #a177ff;
$theme-light-blue: #02ceff;
$theme-dark-blue: #a177ff;
$theme-pink: #ff6d92;
$theme-orange: #f5b200;
$theme-red: #fc636b;

@import "../mixins/settings.global";
@import "../blaze";

///Plugins
@import "../lib/iziModal";

// ... add class overrides here ...

@import "../poi";
@import "gradients";
@import "header";
@import "footer";
@import "card";
@import "work";
@import "utilities";
